#Standard ignores
.bin
/bin
.log
.exe
.out
.vscode
.vs
.DS_Store
.env

#Ignore Odin laguage server
ols.json

#Ignore the Golang related files in NLP package
src/core/nlp/main
src/core/nlp/nlp
*go.sum
*go.mod
*ModelFile
#Ignore NLP libs and executables
*.dylib
*so
*.o
#Ignore potential import files
*.json
*.csv
#Ignore collection files both old format and new
.ost
.ostrichdb